@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    src: url("../fonts/ubuntu.woff"), url("../fonts/ubuntu.woff2");
}

body {
    background-image: linear-gradient(to bottom, #f6fafd 0%, #ffffff 17.8%);
    font-family: "Ubuntu", "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #4b5d68; 
    margin: 0;
    /*display:flex;*/
}

/*fonts*/

h1 {
    font-weight: 700;
    font-size: 80px;
    color:#212353;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color:#212353;
}

.testimonials-title h2 {
    color:white;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    color:#212353;
}

h5 {
    font-weight: 700;
    color:#212353;
}

.john-fang-title {
    font-size: 18px;
}

.navbar-about, .s-d-content-bottom, .hours-access-bottom, .p-content-bottom, .s-c-content-bottom {
    color: #212353;
    font-weight: 700;
}

.address, .navbar-help, .navbar-features  {
    font-weight: 500;
}

.intro-description, .about-description, .features-description {
    font-size: 18px;
    font-weight: 500;
}

.about-description {
    color:#4b5d68
}

.learn-more {
    font-size: 18px;
    font-weight: 700;
    color:white;    
}

.search-data-description, .hours-access-description, .print-description, .security-code-description  {
    font-weight: 400;
}

.john-fang-job {
    font-size: 14px;
    font-weight: 400;
    color:#9c69e2;
}

.john-fang-description {
    font-size: 18px;
    font-weight: 400;
}

.address-content-description  {
    color:#212353;
}

.copyright {
    font-size: 12px;
    font-weight: 400;
}

/* header  */

.header {
    padding-top: 3.875%;
    padding-bottom: 8.9375%;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-right: 8%;
}

li {
    margin-right: 3%;
    list-style:none;
}

.intro-btn {
    border:1px solid #9c69e2;
    background-color: #9c69e2;
    border-radius: 60px;
    margin-top: 50px;
    text-align: center;
}


.about-content {
    color:white;
    border:1px solid #fde8f4;
    background-color: #fde8f4;
    border-radius: 50px;
    margin: 0;
}


/*slider*/


.active {
    color:white;
    border: 1px solid #f063b8;
    background-color: #f063b8;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.btn-social {
    color:white;
    border:2px solid #e9e9ee;
    background-color: #e9e9ee;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/* footer  */


@media screen and (min-width: 1024px) {

    .container {
        margin-left: 15%;
        text-align :left;
    }    
    
    .navbar {
       
        line-height: 35px;
    }

    .logo{
        float: left;
        height: 35px;
    }

    ul {
        height: 35px;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        float: left;
    }

    .intro {
        min-height: 564px;
        margin-bottom: 99px;
    }
    
    .intro h1 {
        margin-top: 0%;
        margin-bottom: 0;
        padding-bottom: 3.125%;
        width: 50%
    }
    
    .intro p {
        display: table-cell;
        max-width: 380px;
        height: 120px;
        vertical-align: middle;
        padding-top: 0%;
        line-height: 30px;
    }

    .intro-image {
        width: 55.3%;
        height: 29.25%;
        max-width: 93.75%;
        position: absolute;
        top: 336px;
        left: 603px;
    }  
    
    .about {
        margin-bottom: 150px;
    }
    .about-content {
        height: 560px;
        width: 1117px;
        
    }

    .about-title {
        float: right;
        width: 567px;
        height: 225px;
    }

    .about-title h2 {        
        margin-bottom: 0px;
        margin-top: 125px;
        max-height: 100px;
        margin-right: 92px;
    }

    .about-description {
        float: right;
        width: 567px;
        height: 295px;
    }

    .about-content p {
        margin-right: 93px;
        margin-top: 40px;
        height: 170px;
        line-height: 23.3px;
    }

    .about-content::after {
        clear: both;
        content: "";
    }

   
    
    .about-image {
        float: left;
        max-width: 469px;
        max-height: 496px;
        margin-left: 16px;
        margin-top: 32px;
    }

    .f-container {
        margin-left: 240px;
    }

    .features {
        min-width: 1120px;

        margin-right: 15%;
    }

    .row {
        display: flex;
        justify-content: space-between;

    }

    .features-title {
        
        margin-bottom: 50px;
    }

    .features-title h2 {
        text-align: center;
        line-height: 52px;
    }

    .features-description {
        height: 58px; 
        margin-bottom: 100px;
    }

    .features-description p {
        text-align: center;
        width: 584px;
        margin-left: auto;
        margin-right: auto;


    }
    
    .intro-btn {
        max-width: 170px;
        min-height: 60px;
        text-align: center;
        line-height: 60px;
    }    

    .features-items {
        width: 1120px;
        
    }    

    .search-data {
        width: 531px;
        height: 358px;
        margin-bottom: 50px;
    }    
    .search-data-image {
        z-index: -1;
        position: absolute;
        top: 1873px;
    }   
    .search-data-title {
        width: 200px;
        height: 50px;
        padding-top: 49px;
        margin-left: 262px;
    }
    .search-data-title h3 {
        margin-top: 0;
    }
    .search-data-description {
        max-width: 220px;
        margin-left: 262px;
    } 
    .search-data-description p {
        margin: 0;
        line-height: 26.6px;
    } 
    .search-data-bottom {
        margin-left: 262px;
        min-height: 160px;
        display:flex;
    }
    .arrow-right {
        margin-top: 16px;
        margin-left: 34px;
    }

    .hours-access {
        width: 531px;
        height: 358px;
        margin-bottom: 50px;
    }    
    .hours-access-image {
        z-index: -1;
        position: absolute;
        top: 1873px;
    }   
    .hours-access-title {
        width: 200px;
        height: 50px;
        padding-top: 49px;
        margin-left: 262px;
    }
    .hours-access-title h3 {
        margin-top: 0;
    }
    .hours-access-description {
        max-width: 220px;
        margin-left: 262px;
    } 
    .hours-access-description p {
        margin: 0;
        line-height: 26.6px;
    } 
    .hours-access-bottom {
        margin-left: 262px;
        min-height: 160px;
        display:flex;
        
    }
    .arrow-right {
        margin-top: 16px;
        margin-left: 34px;
    }
    .print {
        width: 531px;
        height: 358px;
        margin-bottom: 50px;
    }    
    .print-image {
        z-index: -1;
        position: absolute;
        top: 2281px;
    }   
    .print-title {
        width: 200px;
        height: 50px;
        padding-top: 49px;
        margin-left: 262px;
    }
    .print-title h3 {
        margin-top: 0;
    }
    .print-description {
        max-width: 220px;
        margin-left: 262px;
    } 
    .print-description p {
        margin: 0;
        line-height: 26.6px;
    } 
    .print-bottom {
        margin-left: 262px;
        min-height: 160px;
        display:flex;
        align-items: center;
    }
    .arrow-right {
        margin-top: 16px;
        margin-left: 34px;
    }
    .security-code {
        width: 531px;
        height: 358px;
        margin-bottom: 50px;
    }    
    .security-code-image {
        z-index: -1;
        position: absolute;
        top: 2281px;
    }   
    .security-code-title {
        width: 200px;
        height: 50px;
        padding-top: 49px;
        margin-left: 262px;
    }
    .security-code-title h3 {
        margin-top: 0;
    }
    .security-code-description {
        max-width: 220px;
        margin-left: 262px;
    } 
    .security-code-description p {
        margin: 0;
        line-height: 26.6px;
    } 
    .security-code-bottom {
        margin-left: 262px;
        min-height: 160px;
        display:flex;
    }
    .arrow-right {
        margin-top: 16px;
        margin-left: 34px;
    }
    
    




}

@media screen and (min-width: 320px) {


    .logo {
        text-align: center;
        padding-bottom: 50px;
    }

   
    

    





}