@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    src: url("../fonts/ubuntu.woff"), url("../fonts/ubuntu.woff2");
}

body {
    background-image: linear-gradient(to bottom, #f6fafd 0%, #ffffff 17.8%);
    font-family: "Ubuntu", "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #4b5d68; 
    margin: 0; 
}

/*fonts*/

h1 {
    font-weight: 700;
    font-size: 80px;
    color:#212353;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color:#212353;
}

.testimonials-title h2 {
    color:white;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    color:#212353;
}

h5 {
    font-weight: 700;
    color:#212353;
}

.john-fang-title {
    font-size: 18px;
}

.navbar-about, .s-d-content-bottom, .hours-access-bottom, .p-content-bottom, .s-c-content-bottom {
    color: #212353;
    font-weight: 700;
}

.address, .navbar-help, .navbar-features  {
    font-weight: 500;
}

.intro-description, .about-description, .features-description {
    font-size: 18px;
    font-weight: 500;
}

.about-description {
    color:#4b5d68
}

.learn-more {
    font-size: 18px;
    font-weight: 700;
    color:white;    
}

.search-data-description, .hours-access-description, .print-description, .security-code-description  {
    font-weight: 400;
}

.john-fang-job {
    font-size: 14px;
    font-weight: 400;
    color:#9c69e2;
}

.john-fang-description {
    font-size: 18px;
    font-weight: 400;
}

.address-content-description  {
    color:#212353;
}

.copyright {
    font-size: 12px;
    font-weight: 400;
}

@media screen and (min-width: 790px)  and (max-width: 3450px) {

    /*  header  */

    .header {
        margin-top: 65px;
        margin-bottom: 0;
    }

    .container {
        max-width: 1120px;
        margin: 0 auto;
    }    
    
    .navbar {
       
        line-height: 35px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .logo{
        float: left;
        height: 35px;
        margin-right: 8%;
    }

    ul {
        height: 35px;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        float: left;
        margin-right: 3%;
        list-style:none;
    }
    
    .main {
        overflow: hidden;
      }

    /*    intro    */

    .intro {
        margin-top: 143px;
        padding-bottom: 100px;
    }

    .intro-content {
        display: grid;
        row-gap: 50px;
        justify-items: flex-start;
        position: relative;
    }
    
    .intro h1 {
        line-height: 92px;
        max-width: 645px;
        margin: 0;
    }
    
    .intro p {
        max-width: 380px;
        margin: 0;
    }

    .intro-image {
        position: absolute;
        z-index: -1;
        left: 350px;
        bottom: -100px;
        width: 885px;
        
    }

    .intro-btn {
        border:1px solid #9c69e2;
        background-color: #9c69e2;
        border-radius: 60px;
        text-align: center;
        width: 170px;
        line-height: 60px;
    }
    
    /*    about    */
    
    .about-container {
        margin-top: 100px;
        margin-bottom: 150px;
        display: grid;
        align-items: center;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr;
        background-color: rgba(240, 99, 184, 0.15);
        border-radius: 50px;
    }
    .about-content {
        display: grid;
        row-gap: 40px;
    }

    .about-title {
        line-height: 50px;
    }

    .about-description {
        line-height: 28.3px;
        max-width: 474px;
    }

    .about-image {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*    features    */

    .features {
        margin-bottom: 150px;
    }

    .features-title {
        margin-bottom: 50px;
    }

    .features-title h2 {
        margin: 0;
        text-align: center;
        line-height: 52px;
    }

    .features-description {
        height: 58px; 
    }

    .features-description p {
        margin: 0;
        text-align: center;
        width: 584px;
        margin-left: auto;
        margin-right: auto;
        line-height: 29px;
        margin-bottom: 100px;
    }

    .row {
        display: flex;
        justify-content: space-between;

    }

    .features-item {
        width: 531px;
        height: 358px;
        margin-bottom: 50px;
    }

    .search-data-image {
        z-index: -1;
        position: absolute;
        top: 1873px;
    } 

    .features-item-title {
        width: 200px;
        height: 50px;
        padding-top: 149px;
        margin-left: 262px;
    }

    .features-item-title h3 {
        margin-top: 0;
    }

    .search-data-description {
        max-width: 220px;
        margin-left: 262px;
    } 

    .search-data-description p {
        margin: 0;
        line-height: 26.6px;
    } 

    .search-data-bottom {
        margin-left: 262px;
        min-height: 160px;
        display:flex;
    }

    .arrow-right {
        margin-top: 16px;
        margin-left: 34px;
    }
 

    .hours-access-image {
        z-index: -1;
        position: absolute;
        top: 1873px;
    }  

   

    .hours-access-description {
        max-width: 220px;
        margin-left: 262px;
    } 

    .hours-access-description p {
        margin: 0;
        line-height: 26.6px;
    } 

    .hours-access-bottom {
        margin-left: 262px;
        min-height: 160px;
        display:flex;
        
    }

    .arrow-right {
        margin-top: 16px;
        margin-left: 34px;
    }

    .print-image {
        z-index: -1;
        position: absolute;
        top: 2281px;
    }   

    
    .print-description {
        max-width: 220px;
        margin-left: 262px;
    } 

    .print-description p {
        margin: 0;
        line-height: 26.6px;
    } 

    .print-bottom {
        margin-left: 262px;
        min-height: 160px;
        display:flex;
        align-items: center;
    }

    .arrow-right {
        margin-top: 16px;
        margin-left: 34px;
    }

    .security-code-image {
        z-index: -1;
        position: absolute;
        top: 2281px;
    }   

    .security-code-description {
        max-width: 220px;
        margin-left: 262px;
    } 

    .security-code-description p {
        margin: 0;
        line-height: 26.6px;
    } 

    .security-code-bottom {
        margin-left: 262px;
        min-height: 160px;
        display:flex;
    }

    .arrow-right {
        margin-top: 16px;
        margin-left: 34px;
    }

    /*    testimonials    */
    
    .testimonials {
        color:white;
        border:1px solid #9c69e2;
        background-color: #9c69e2;
        border-radius: 50px;
        margin-left: 240px;
        margin-bottom: 150px;
        z-index: 1;
        margin-left: -8px;
        padding: 0;
        position: relative;
        left: 240px;
        height: 709px;
        width: 1118px;
    }

    .testimonials-title {
        margin-top: 110px;
        margin-bottom: 88px;
    }

    .cards {
        z-index: 2;
        position: relative;
        display: flex;
        height: 330px;
    }
  
    .john-fang-content {
        min-width: 645px;
        height: 330px;
        margin: 8px;
        background-color: white;
        border-radius: 20px;
    }
    .john-fang-img {
        margin-left: 70px;
        margin-top: 60px;
        width: 90px;
        height: 90px;
        position: absolute;
    }

    .jeny-doe-content {
        width: 645px;
        height: 330px;
        margin: 8px;
    }

    .william-content {
        width: 645px;
        height: 330px;
        margin: 8px;
    }

    .john-fang-description {
        color:#4b5d68;
    }

    .john-fang-title {
        margin-left: 190px;
        margin-top: 80px;        
    }

    .john-fang-job {
        margin-left: 190px;
    }

    .john-fang-description {
        margin-left: 190px;
        width: 385px;
        min-height: 130px;
    }

    .john-fang-description p {
        line-height: 32.5px;
    }

    .icons {
        margin-top: 60px;
    }

    .icon-left {
        color:white;
        border: 1px solid white;
        background-color: white;
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-right: 10px;
        border-radius: 5px;
    }
    .active {
        border: 1px solid #f063b8;
        background-color: #f063b8;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
    }

    .arr-left {
        float: left;
        margin-left: 760px;
        margin-top: 0;
    }

    .arr-right {
        float: left;
    }

    /*    footer    */
   
    .footer-logo {
        margin-top: 162px;
    }

    address {
        width: 335px;
        height: 63px;
    }
    .social {
        margin-left: 1147px;
        float: right;
    }

    .social-title h5 {
        margin: 0;
    }

    .btn-social {
        display: flex;
    }
    
    .social-link {
        color:#e9e9ee;
        border:2px solid #e9e9ee;
        background-color: #e9e9ee;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        text-align:center;
        justify-content: end;
        align-items: center;
        margin-right: 50px;   
    }    

    address {
        margin-top: 60px;
        position:static;
    }

    .copyright {
        padding-top: 40px;
    }
}

@media screen and (min-width: 320px)  and (max-width: 789px) {

    body {
        margin: 0 auto;
        min-width: 250px;
        text-align: center;
    }

    
    .logo {
        text-align: center;
        padding-bottom: 50px;
    }

    li {
        text-align: center;
        padding-top: 50px;
    }
    .intro-image img {
        width: 100%;
    }
    .about-image img {
        width: 100%;
    }
    .search-data-image img{
        width: 100%;
    }
    .hours-access-image img {
        width: 100%;
    }
    .print-image {
        width: 100%;
    }
    .security-code-image img {
        width: 100%;
    }
    .print-image img {
        width:100%;
    }
    .jeny-doe-img img {
        width: 100%;
        display: none;
    }
    .william-img img {
        width: 100%;
        display: none;
    }
    .intro-btn {
        margin-bottom: 50px;
    }
    .active {
        display: none;
    }
    .social-link {
        color:#e9e9ee;
        border:2px solid #e9e9ee;
        background-color: #e9e9ee;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        text-align:center;
        justify-content: end;
        align-items: center;   
    }
}