.header__container {
	margin-bottom: 145px;
}

.header__navbar {
	max-height: 35px;
	display: flex;
	align-items: center;
}

.header__menu {
	display: flex;
	margin-left: 7.5%;
}

.header__item {
	margin-right: 40px;
}

.header__link::after {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	border-radius: 10px;
	background-color: #9c69e2;
	transition: 0.5s ease;
 }
 
 .header__link:hover::after {
	width: 100%;
 }

@media screen and (max-width: 1200px) {
	.header__container {
		margin-left: 40px;
		margin-bottom: 5%;
	}
	.header__item {
		margin-right: 30px;
	}
}

@media screen and (max-width: 768px) {

	.header__container {
		margin-bottom: 5%;
	}
	.header__item {
		margin-right: 20px;
	}
	
	
	
	
}