.intro {
	margin-bottom: 95px;
}

.intro__container {
	padding-bottom: 100px;
}

.intro__content {
	display: grid;
	row-gap: 50px;
	justify-items: flex-start;
	position: relative;
}

.intro__title {
	max-width: 645px;
}

.intro__image {
	position: absolute;
	z-index: -1;
	left: 350px;
	bottom: -100px;
	width: 885px;
}

.intro__description {
	max-width: 380px;
}

.intro__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 60px;
	background: #9C69E2;
	border-radius: 50px;
	animation: color 1s infinite alternate;
}


@keyframes color {
	0% { 
	background-color: #9C69E2;
	}
	33% {
	background-color: red;
	}
	66% {
	background-color: green;
	}
	100% {
	background-color: #9C69E2;
	}
}

@media screen and (max-width: 1200px) {
	.intro__container {
		margin-left:40px;
	}

	.intro__link {
		margin-left: 10%;
	}
}

 @media screen and (max-width: 768px) {

	.intro {
		margin-bottom: 0;
	}

	.intro__container {
		margin:0 10px 0 10px;
	}

	.intro__title {
		
		text-align: center;
	}

	.intro__description {
		text-align: center;
	}

	.intro__link {
		margin-left: 20%;
	}
}
